<div th:fragment="sidebar" class="side-bar" >
    <ul class="fs-5">
        <li class="title"><a href="/"><img th:src="@{/images/dish-drp-bw-01.png}" alt="logo dishdrop"></a></li>
        <li class="my-2">
            <a href="/menu">
                <i class="fa-solid fa-pizza-slice"></i>
                <div>Tutte le Pizze</div>
            </a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" >
            <a href="/ingredients">
                <i class="fa-solid fa-wheat-awn"></i>
                <div>Tutti gli ingredienti</div>
            </a>
        </li>
    </ul>
</div>