<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Pizzeria</title>
</head>
<body>

<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main id="main-container" class="w-100 position-relative">

        <h1 class="text-center my-4">Inserisci la tua pizza</h1>
        <div class="d-flex justify-content-center">
            <div>
                <form method="post" th:action="@{/menu/create}" th:object="${pizza}">
                    <div>
                        <label for="name"> Nome </label>
                        <input type="text" id="name" th:field="*{name}">
                    </div>
                    <div>
                        <label for="price"> Price </label>
                        <input type="number" step="0.01" id="price" th:field="*{price}">
                    </div>
                    <div>
                        <label for="image"> Image </label>
                        <input type="text" id="image" th:field="*{image}">
                    </div>
                    <div>
                        <label for="description"> Description </label>
                        <textarea id="description" rows="3" th:field="*{description}"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" >Create</button>
                    </div>
                </form>
            </div>


        </div>

    </main>
</div>


</body>
</html>