<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Pizzeria</title>
</head>
<body>

<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main id="main-container" class="w-100 position-relative">

        <h1 class="text-center my-4">Menu</h1>

        <div class="text-center my-4">
            <form action="/menu/search" method="get">
                <input type="text" name="name">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <div class="d-flex justify-content-center">
            <table th:if="${list.size > 0}" class="w-50">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Price €</td>
                </tr>
                </thead>
                <tbody th:each="pizza : ${list}" th:object="${pizza}" >
                <tr>
                    <td th:text="*{id}"></td>
                    <td ><a th:href="@{|/menu/*{id}|}" th:text="*{name}"></a></td>
                    <td >[[*{price}]] €</td>
                </tr>
                </tbody>
            </table>
            <h4 th:if="${list.size == 0}" class="text-danger" > Non ci sono pizze!</h4>
        </div>

    </main>
</div>


</body>
</html>