<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
</head>
<body th:with="edit=${specialOffer.id != null}">

<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main id="main-container" class="w-100 position-relative" >

        <h1 class="text-center my-4"> <span th:text="${edit ? 'Modifica' : 'Inserisci'}"></span>&nbsp;la tua offerta&nbsp;<span th:text="${edit ? 'per la pizza ' + specialOffer.pizza.name : ''}"></span></h1>
        <div class="d-flex justify-content-center">
            <div class="w-75" th:with="formAction=${edit ? '/offers/edit/' + specialOffer.id : '/offers/create'}" >
                <form method="post" th:action="@{${formAction}}" th:object="${specialOffer}" >
                    <input type="hidden" th:field="*{pizza}">
                    <div>
                        <label class="form-label" for="title"> Titolo </label>
                        <input class="form-control" type="text" id="title" th:field="*{title}" th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="discount"> Sconto % </label>
                        <input class="form-control" type="number" step="0.1" id="discount" th:field="*{discount}" th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('discount')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('discount')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="startingDate"> Data di inizio </label>
                        <input class="form-control" type="date" id="startingDate" th:field="*{startingDate}" th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('startingDate')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('startingDate')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="endingDate"> Data di fine </label>
                        <input class="form-control" type="date" id="endingDate" th:field="*{endingDate}" th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('endingDate')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('endingDate')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary" ><span th:text="${edit ? 'Aggiorna' : 'Crea'}"></span> </button>
                        <button type="reset" class="btn btn-danger" >Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>